[submodule "engine/thirdparty/glfw"]
	path = engine/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/thirdparty/glm"]
	path = engine/thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/thirdparty/log_system"]
	path = engine/thirdparty/log_system
	url = https://github.com/AntonMoyseychuk/log_system.git
[submodule "engine/tools/shadergen/thirdparty/log_system"]
	path = engine/tools/shadergen/thirdparty/log_system
	url = https://github.com/AntonMoyseychuk/log_system.git
